body {
    background-color:#6b6b6b ; 
}

#contact {
    font-family: 'Castoro Titling', cursive;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    margin-top:15%;
    font-size:75px;
    
}

#email {
    font-size: 30px;
    margin: 0 auto;
    text-align:center;
    width: fit-content;
    margin-top:2%;
    margin-bottom:10%; 
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight:bolder;
}

#divcontactemail  {
    border: black solid; 
    width:fit-content;
    margin: 0 auto;
    margin-top:15%;
    background-color:#FFE6C7;
    
}

