
/* this modifies the skills section */
.Skills {
    color:blueviolet;
    background-color:#FFE6C7;
}


/* this modifies the image where I'm at such as the border and margin*/
#imageandiborder {
    border:black solid 10px;
    margin-left:39.5%;
}




/* this modifies the work experience section */
.workexperience {
    color:darkmagenta;
    background-color:#FFE6C7;
    
}



/* this modifies the education section */
.education {
    color:brown; 
    background-color:#FFE6C7;
}


.education {
    text-align:"center";
}


/* this modifies the copyright section which is at the bottom */
.copyright {
    font-weight:bolder ; 
    color:crimson;
    background-color:#FFE6C7; 
}
/* this modifies everything in which here I modified mostly the text and font */
* {
    font-weight:bold;
    text-align:"center" ;
    font-family: 'Caveat Brush', cursive;
}
/* this modifies the summary */
.summary {
    color:blue ;
    background-color:#FFE6C7;
    
}
/* this modifies the entire body of the page */
body {
    background-color:#454545 ; 
}


/* this modifies the work experience div that has an unordered list */
.divworkexperience ul {
    border: solid black 5px;
    padding:5px;
    
    
    

}
/* this modifies the hr or as we say the line that divides the texts */
#hrcolor{
    border:black solid 2px;
    
}


.contactabout {
    color:black;
    font-weight:bolder;
    
    


}
/* this modifies the contact and about divs */
.contactaboutdiv {

    border: solid black 5px; 
    margin-left : 35px ;
    padding : 5px;
    display:inline-block;
    text-align: center;
    background-color: #FFE6C7;
    
    
}
/* this modifies the header style of the Contact and About buttons */
.contactaboutheader {
    font-weight:bolder;
}
/* div to modify the diveducation unordered list */
.diveducation ul {
    border:solid black 5px;
    padding:5px;
    
}

/* div to modify the summary unordered list*/
.divsummary ul  {
    border:black solid 5px;
    padding:5px;
    
    

}

/* div to modify the skills */
.divskills ul{
    border:solid black 5px;
    padding:5px;
    
    
}

/* the div to modify copyright */
.divcopyright p {
    border: solid black 5px;
}

/*You can modify all divs with this */
div.entirediv {
    margin-left:25%;
    width:50%;
}

/* Main Header Andi (top of the page) */
h1.headerandi {
margin-left:39%;

}