.Skills {
    color:blueviolet;
}

#WorkExperienceListed {
    color:darkmagenta;
}


.copyright {
    color:crimson;
}


#education {
    color:brown; 
}


#Education {
    text-align:"center";
}


* {
    font-family:"italic" ;
}

* {
    text-align:"center" ;
}

.copyright {
    font-weight:bolder ; 
}

* {
    font-weight:bold
}

#summary {
    color:yellowgreen
}